h1{
    color : blue;
  }
  p,h2{
    color : red;
    text-align: center;
  }
  /* *{
    border:solid;
  } */

.header{
  background-color:cadetblue ;
  display : flex; 
  justify-content: space-between;

}

.grid{
  display : flex;
  flex-wrap: wrap;
  justify-content : space-evenly;  
  background-color: sandybrown;
}

.footer{
  display: flex;
  justify-content: flex-end;
  
}

body{
  background-color :#644477;
  
}






























